<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a data science professional with 3+ years of experience at 
      <a class="underline-link" href="https://www.juniper.net/us/en.html" target="_blank">Juniper Networks</a>. My day to day involves anything data-related, from building ETL pipelines, automating workflows, to designing dashboard visualizations. I recently graduated from
      <a class="underline-link" href="https://cdss.berkeley.edu/" target="_blank">UC Berkeley</a> with a bachelor's degree in Data Science. In my time at Cal, I learned a lot of things, but it especially taught me how important it is to continously learn. This is a testament to that life lesson -- I want to use this platform to showcase my projects that I do in my free time. 
    </p>
    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing basketball, running, snowboarding, traveling,
      or catching up with my friends and family. Please feel free to drop a message!</p>

    {% include employment-status.html %}
  </div>
</section>
