<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Hi! Thank you for visiting my page. My name is Ryan. I'm originally from Jersey City, New Jersey but now I am based in Southern California. I'm a data science professional with 3+ years of experience at 
      <a class="underline-link" href="https://www.juniper.net/us/en.html" target="_blank">Juniper Networks</a>. My day to day involves anything data-related, from building ETL pipelines, automating workflows, to designing dashboard visualizations. <br>
      I recently graduated from <a class="underline-link" href="https://cdss.berkeley.edu/" target="_blank">UC Berkeley</a> with a bachelor's degree in Data Science. <strong> The #1 lesson I learned is to continously learn</strong>. This is a testament to that life lesson. 
    </p>
    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing basketball, traveling, mixing//editing music, and I recently got into running and golf! If not those, then I'm
      usually hanging out with friends and family. Please feel free to drop a message!</p>

    {% include employment-status.html %}
  </div>
</section>
