<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Hi! Thanks for dropping by. My name is Ryan. I'm originally from Jersey City, New Jersey but now based in Southern California. I'm a data science professional with 3+ years of experience at 
      <a class="underline-link" href="https://www.juniper.net/us/en.html" target="_blank">Juniper Networks</a>. In my day-to-day, I handle a variety of data-related tasks, from building ETL pipelines and automating workflows to creating eye-catching dashboard visualizations<br>
      I recently graduated from <a class="underline-link" href="https://cdss.berkeley.edu/" target="_blank">UC Berkeley</a> with a bachelor's degree in Data Science where I learned that <strong> continous learning is key</strong>. This is a testament to that life lesson. 
    </p>
    <p>
      <strong>When I'm not in front of a computer screen</strong>, you'll find me shooting hoops, exploring new places, or tinkering with music. And lately, I've been hitting the pavement for runs and hitting the links for some golf.</p>

    {% include employment-status.html %}
  </div>
</section>
