<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <a href="https://github.com/rsandan/nba_clustering" target="_blank">
          <img src="{{site.baseurl}}/img/featured/nba_clustering/output.png">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/rsandan/nba_clustering" target="_blank">
          Next Man Up: NBA Player Clustering for Talent Identification</a>
        </div>
        <p>Implemented clustering model to group NBA players based on traditional and advanced box score statistics to: <strong> identify potential role player replacements, scout emerging talent, provide contingency planning for injuries and trades</strong>. Future improvement: Add G League, and NCAA player data.</p>
      </figcaption>
    </div>
  </div>
</section>


