<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <!-- Project 1 -->
    <div class="project">
      <figure class="project__pic">
        <a href="https://github.com/rsandan/nba-fantasy-dashboard" target="_blank">
          <img src="https://raw.githubusercontent.com/rsandan/nba-fantasy-dashboard/main/cover.jpg">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/rsandan/nba-fantasy-dashboard" target="_blank"> Yahoo! NBA Fantasy League Dashboard (2024-25)</a>
        </div>
        <p>Explored Yahoo's Fantasy API to analyze matchup data, free agency transactions, and player trends. 
          Gained hands-on experience with OAuth 2.0 authentication, secure API token management, and web app deployment. 
          Strengthened understanding of web hosting, API structures, and authentication workflows.
        </p>
        <p>Future Enhancement: Scale the platform to support all Yahoo! NBA Fantasy leagues, expanding accessibility and usability for a broader audience.</p>
      </figcaption>
    </div>
    
    <!-- Project 2 -->
    <div class="project">
      <figure class="project__pic">
        <a href="https://github.com/rsandan/nba_clustering" target="_blank">
          <img src="https://raw.githubusercontent.com/rsandan/nba_clustering/main/clustering_preview.png">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/rsandan/nba_clustering" target="_blank"> Next Man Up: NBA Player Clustering for Talent Identification</a>
        </div>
        <p>Implemented clustering model to group NBA players based on traditional and advanced box score statistics to:</p>
        <p>
        <ul>
          <li>
            <strong> Identify potential role player replacements </strong>
          </li>
          <li>
            <strong>Scout emerging talent</strong>
          </li>
          <li>
            <strong> Provide contingency planning for injuries and trades </strong>
          </li>
        </ul> 
        </p>
        <p>Future improvement: Add NCAA player data.</p>
      </figcaption>
    </div>

     <!-- Project 3 -->
    <div class="project">
      <figure class="project__pic">
        <a href="https://nbviewer.org/github/rsandan/seanmarks_analysis/blob/main/gm_landscape.ipynb" target="_blank">
          <img src="https://raw.githubusercontent.com/rsandan/rsandan.github.io/master/img/featured/nba_clustering/newplot.png">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://nbviewer.org/github/rsandan/seanmarks_analysis/blob/main/gm_landscape.ipynb" target="_blank"> Is this Sean Marks last chance to build a good team in Brooklyn?</a>
        </div>
        <p>With the 2nd worst loss in Nets Franchise history against the Celtics this past season (2023-24), I wanted to assess whether Nets GM Sean Mark, who is approaching 10 years of being the Nets GM, knows what he is doing and whether or not we're headed in the right direction. </p>
      </figcaption>
    </div>

    <!-- Project 4 -->
    <div class="project">
      <figure class="project__pic">
        <a href="https://www.youtube.com/watch?v=gnYrJovkwlE" target="_blank">
          <img src="https://raw.githubusercontent.com/rsandan/rsandan.github.io/refs/heads/master/img/featured/nba_clustering/allstar_pred.png">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.youtube.com/watch?v=gnYrJovkwlE" target="_blank"> IEOR 142 NBA All Star Inference and Predictions 2023 </a>
        </div>
        <p>Final Project for UC Berkeley's IEOR 142: Introduction to Machine Learning and Data Analytics<br>Team members: Ryan Sandan, Matthew Yep, Faizaan Merchant, Malik Ngom, Maryam Pourshariati<br>Tested Neural Network, Random Forest, and Logistic Regression model to predict NBA Allstars. Successfully predicted 88% (22/25) of 2023 Allstars after only a quarter of the season using Logistic Regression Model</p>
      </figcaption>
    </div>
  </div>
</section>
