<header class="intro">
  <h1 class="intro__hello">Hey there!
    <span class="emoji wave-hand animated"></span>
  </h1>

   <h2 class="intro__tagline">I'm
    <span class="name">Ryan Sandan</span> <span class="emoji ryanlogo"></span><br>
     Legal Operations @ TWDC <span class="emoji technologist"></span> <br>
     Data Science '22 @ UC Berkeley <span class="emoji bear"></span> <br>
     Based in Los Angeles, CA <span class="emoji palm_tree"></span> <br>
     Basketball is therapy <span class="emoji basketball"></span> <br>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="https://linkedin.com/in/rsandan" target="_blank" class="highlight-link">LinkedIn</a>
    </span> <br>
    <span>View my resume </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="https://rsandan.github.io/RyanSandanResume_Nov_2025_MAIN.pdf" target="_blank" class="highlight-link">Resume</a>
    </span> <br>
    <span> Tableau Visualizations </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="https://public.tableau.com/app/profile/rsandan/viz/OutsideCounselSpendAnalysis/Story" target="_blank" class="highlight-link">Tableau Public</a>
    </span> <br>
  </h3>
</header>
