<header class="intro">
  <h1 class="intro__hello">Hey there!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Ryan Sandan</span></h2>
    <span> Data Anayst III @ Juniper Networks</span>
    <span> Data Science '22 @ UC Berkeley</span>
    <span> Born and raised in Jersey City, NJ </span>
    <span> Currently based in San Diego, CA </span>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:rsandan99@gmail.com" target="_blank" class="highlight-link">rsandan99@gmail.com</a>
    </span>
  </h3>
</header>
