<header class="intro">
  <h1 class="intro__hello">Hey there!
    <span class="emoji wave-hand animated"></span>
  </h1>

   <h2 class="intro__tagline">I'm
    <span class="name">Ryan Sandan</span> <span class="emoji ryanlogo"></span><br>
     Data Analyst III @ Juniper Networks <span class="emoji technologist"></span> <br>
     Data Science '22 @ UC Berkeley <span class="emoji bear"></span> <br>
     Currently based in San Diego, CA <span class="emoji palm_tree"></span> <br>
     Brooklyn Nets #1 Fan <span class="emoji basketball"></span> <br>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="https://linkedin.com/in/rsandan" target="_blank" class="highlight-link">LinkedIn</a>
    </span> <br>
    <span>View my resume </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="https://rsandan.github.io/ryans-resume.pdf" target="_blank" class="highlight-link">Resume</a>
    </span> <br>
    <span>Tableau Profile</span>
    <span class="emoji pointer"></span>
    <span>
      <a href="https://public.tableau.com/app/profile/rsandan/vizzes" target="_blank" class="highlight-link">Resume</a>
    </span>
  </h3>
</header>
